body{
    margin: 0;
    padding: 0;
    font-family: Arial,Helvetica, sans-serif;
    color: lightgray;
}
.container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.back-vid{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
    mix-blend-mode: overlay;
}

header{
    box-sizing: border-box;
    /* margin-top: 20px; */
    width: 100%;
    position: absolute;
    top: 0;
    /* right: 0;
    left: 0; */
    height: 70px;
    background: rgba(255, 255, 255, 0.123);
    backdrop-filter: blur(10px);
    padding: 0 30px;
    box-shadow: 0 0 15px #7d72de41;
    z-index: 999;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left{
    display: flex;
    align-items: center;
}

.left img{
    width: 40px;
    margin:0 15px;
}

header ul{
    display: flex;
    justify-content: space-between;
    width: 30%;
    padding: 15px 15px;
    border-radius: 50px;
    background-color: rgba(0, 0, 69, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px #727fde48;
}

header ul li{
    list-style: none;
    cursor: pointer;
}

header ul a{
    text-decoration: none;
    color: lightgray;
    font-weight: 700;
    font-size: 0 10px;
}

.box-icons{
    display: flex;
    gap: 20px;;
}

.box-icons a{
    display: flex; 
    align-items: center;
    justify-content: center;
    font-size: 30px;
    width: 40px;
    height: 40px;
    border: 2px solid #727fde80;
    text-decoration: none;
    color: lightgray;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.box-icons a:hover{
    background-color: #727fde80;
    color: rgb(0, 0, 0);
    transition: all 0.3s ease;
}

.blackhole-box{
    position: absolute;
    top: 0;
    width: 100%;
    justify-content: center;
    mix-blend-mode: screen;
}

.blackhole-box video{
    width: 100%;
    margin-top: -24.7%;
}

.hero{
    position: relative;
    width: 100%;
    display:flex;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

.hero-info{
    position: absolute;
    left:5%;

}

.hero-info .hero-info-title{
    color: #727fdefd;
    padding: 8px 5px;
    border: 1px solid #727fde80;
    width: 180px;
    background-color: #2200493d;
    box-shadow: 0 0 5px #727fde80;
    border-radius: 50px;
}

.hero-info h1{
    font-size: 60px;
    max-width: 600px;
    font-weight: 700;
    line-height: 70px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.hero-info p{
    font-size: 20px;
    max-width: 550px;
    line-height: 25px;
    margin-bottom: 40px;
}
.hero-info button{
    padding: 15px 35px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    background-color: #2200493d;
    border: 1px solid #727fde80;
    border-radius: 10px;
    box-shadow: 0 0 5px #727fde80;
    cursor: pointer;
    transition: 0.3s ease;
}
.hero-info button:hover{
    box-shadow: 0 0 15px #727fde80;
}

/* Gradient Animation */
.gradient{
    background: linear-gradient(to right, #ff0080,#72008f, #7928ca, #ff0080);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
}

@keyframes animate-gradient{
    to{
        background-position: 200%;
    }
    
}




























































/* media queries for aspect ratio */
@media(max-aspect-ratio: 16/9){
    .back-vid{
        width: auto;
        height: 100%;
    }
}
@media(min-aspect-ratio: 16/9){
    .back-vid{
        width: 100%;
        height: auto;
    }
}